<h1><%= question_header(question) %></h1>
<%= form_with model: [test, question] do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
